# Ignorar ambiente virtual
venv/

# Arquivos do VS Code
.vscode/

# Arquivos Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs ou temporários
*.xml
*.html
*.log
*.png

# Arquivos de sistema
.DS_Store
Thumbs.db
